@model RaspBerryWebAppPro.Models.RelayEvent

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RelayEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RelayId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelayId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationInMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationInMinutes)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.DurationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationType)
        </dd>*@

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" onclick="javascript: return confirm('Are you sure you wish to delete this item?');" />
            @Html.ActionLink("Back to List Relay Events", "Index", "Relays", new { id = Model.RelayId }, null)
        </div>
    }
</div>
