@model RaspBerryWebAppPro.Models.RelayEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RelayEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RelayID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelayID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationInMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationInMinutes)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.DurationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationType)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List of Events", "Details", "Relays", new { id = Model.RelayId }, null)

</p>
